<div class="mt-4">
<h4 class="eaten-food-name">{{food_name}}</h4>

<button class="delete-food btn btn-primary" data-id="{{id}}" id="delete-food"><i class="far fa-trash-alt"></i>Throw away</button>

</div>